In [22]:
 """Ques-1 What is python ?

Ans- Python is a programming language for software development,web development,scripting and methamatcal operations."""

'Ques-1 What is python ?\n\nAns- Python is a programming language for software development,web development,scripting and methamatcal operations.'

In [39]:
''''Ques-2 Give any five areas where python are be used.

Ans-
* Intrepreted

* Case sensitive

* Integreted development environment

* Indentation
''''

SyntaxError: EOL while scanning string literal (<ipython-input-39-d81607351f1f>, line 11)

#

In [40]:
if(10>2):
    print("10 is greater")
else:
    print("2 is greater")

10 is greater

In [41]:
x=2
y=2.0
z="hello"
print(x,y,z)

2 2.0 hello

print 3 veriables x,y,z using assignment with multiple values.

In [42]:
x,y,z = {1,2,3}
print(x,y,z)

1 2 3

print data type veriable

In [43]:
x = 2
y = 2.0
z = "HELLO"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

printing

In [44]:
y="learning python"
print("I am", y)

I am learning python

In [45]:
x = "hii"
y = "n1"
z= 10
print(x,y,z)

hii n1 10

print data type of following

In [56]:
x = "hello"
print(type(x))
x = 20
print(type(x))
x = 20.5
print(type(x))
x = ["a","b","c"]
print(type(x))
x =  {1:"apple",2:"mango"}
print(type(x))
x = list(("a","b","c"))
print(type(x))
x = tuple(("a","b","C"))
print(type(x))
x = set(("(a","b","c"))
print(type(x))
x = bool(5)
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'bool'>

In [57]:
y = "python"
print(y[2:5 ])

tho

In [58]:
y = "python"
print(y[-5:-2 ])

yth